@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

/* credits  Wix studio  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    
}

body{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: black;
}

 /* header */

header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
    border-bottom: rgb(95, 90, 90) 2px solid;
    z-index: 99;
    width: 100%;
}

.nav-left{
    width: 15%;
    word-spacing: 5px;
}
.nav-left a{
    text-decoration: none;
    color: rgb(169, 163, 163);
}
.nav-left a p {
    
    font-weight: 700;
    font-family: "Rancho",cursive; 
    letter-spacing: 2px;
}

.nav-left a p span{
    font-size: 15px;
    font-weight: 500;
}

.nav-middle {
  width: 30%;
  
}
.nav-middle ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:15px;
}
.nav-middle ul li{
    list-style: none;
}
.nav-middle ul li a{
    text-decoration: none;
    font-weight: 500;
    color: rgb(169, 163, 163);
}
.nav-right{
    width:20%;
    
}
.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:25px;
}

.nav-right a {
    text-decoration: none;
    font-weight: 500;
    color: rgb(169, 163, 163);
    
}

.nav-right .cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}
.nav-right .cart span{
    font-size: small;
    padding: 0px 5px;
    border-radius: 10px;
    background-color: rgb(170, 248, 80);
    color: black;
}

/* hero section  */

.hero{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    padding: 30px 30px;
}

.hero img{
   width: 600px;
   padding-top: 10px;
   
}

.hero h1{
    position: absolute;
    font-size: 100px;
    top:180px;
    left: 100px;
}
.hero h2{
    position: absolute;
    font-size: 100px;
    top:290px;
    left: 600px;
}

.hero #shopnow{
    padding: 5px 30px;
    border-radius: 10px;
    background-color: rgb(162, 128, 194);
    position: absolute;
    top:450px;
    border: rgb(162, 128, 194) ;
    filter: drop-shadow(rgb(162, 128, 194),0px,0px,15px);
}

.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    border: 2px solid rgb(49, 47, 47);
    border-radius: 10px;
    width:350px;
    height: 140px;
    color:rgb(169, 163, 163);
    background-color: rgb(11, 11, 11);
    position: absolute;
    left:15px;
    top:565px;
}

.newsletter .nl-top{
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    gap: 100px;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.newsletter .nl-bottom{
    display: flex;
    align-items: flex-end;
    justify-content:space-evenly ;
    gap:15px;
}

.newsletter .nl-bottom .inputbox{
    border-bottom: 2px solid rgb(169, 163, 163);
    width: 220px;
}

.newsletter .nl-bottom .inputbox input{
    background: transparent;
    border: none;
    outline: none;
    
}
.newsletter .nl-bottom button{
    padding: 0px 10px;
    border-radius: 8px;
    background: transparent;
    outline: none;
    border: 2px solid rgb(169, 163, 163);
    color:rgb(169, 163, 163) ;
}

/* image section  */

.img-sec{
    display:flex;
    align-items: center;
    justify-content: space-evenly;

    height:400px;
    background-color: rgb(54, 56, 57);
    position: relative;
   
}
#LIMITED{
    color:white;
    font-size: 20px;
    position: absolute;
   top:325px;
    left:25px;
    font-family: "Rancho",cursive ;
    letter-spacing: 4px;
}

#noise{
    position: absolute;
    left:80px;
    width:100px;
    height:100px;
    top:80px;
}
#blutooth{
    position: absolute;
    left:650px;
    width:40px;
    height:40px;
    top:300px;
    background-color: white;
    border-radius: 50px;
    padding:5px;
}
#blu-text{
    position: absolute;
    left:710px;
    top:310px;
    color:white;
}
#mic{
    position: absolute;
    left:690px;
    width:40px;
    height:40px;
    top:80px;
    background-color: white;
    border-radius: 50px;
    padding:5px;
}
#mic-text{
    position: absolute;
    left:750px;
    top:90px;
    color:white;
}
/* details section */

.details{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 30px;
    background-color: black;
    color: white;
   
}

.details .model{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: space-evenly;
     gap:15px;
     width:50%;
}

.details .model .money{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:10px;
    color: black;
}

.details .model .money #dollar{
    padding: 0px 10px;
    background-color:rgb(162, 128, 194) ;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap:6px;
    
}
.details .model .money #dollar span{
    padding: 0px 3px;
    color: black;
    border-radius: 15px;
    background-color: black;
    font-size:8px;
    
}

.details .model .money #euro{
    padding: 0px 9px;
    background-color:white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap:6px;
}

.details .model .money #euro span{
    padding: 0px 3px;
    color: black;
    border-radius: 15px;
    background-color: black;
    font-size:8px;
    
}

.details .model h3{
    font-size: 55px;
}

.details .model p{
    font-size: smaller;
}

.details .pricing {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    width: 50%;
    
}

.details .pricing .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:300px;
    padding-bottom: 15px;
}

.details .pricing .price p{
    font-size: 30px;

}

.details .pricing .price button{
    padding: 5px 30px;
    border-radius: 10px;
    background-color: rgb(162, 128, 194);
    
    border: rgb(162, 128, 194) ;
    filter: drop-shadow(rgb(162, 128, 194),0px,0px,15px);
}

.details .pricing .addition {
    display: flex;
    flex-direction: column;
    gap:5px;
    
}
.details .pricing .addition hr{
    width: 500px;
   opacity: 0.2;
}

.details .pricing .addition p{
    display: flex;
    gap:15px;
    align-items: center;
}

/* feature  */

.feature {
    text-align: center;
    font-size: 70px;
    background-color: black;
    color: white;
    padding: 30px;
    line-height: 75px;
}

/* product */

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap:50px;
    padding: 20px 0px 30px 0px;
    margin-top:70px;
    margin-left: 130px;
    
    background-color: rgb(54, 56, 57);
    width: 1050px;
    color: white;
    border-radius: 20px;
}

.product .chroma{
    display: flex;
    align-items:center;
    
    justify-content: space-evenly;
    gap:30px;
}

.product .chroma >p{
    font-size: 105px;
    font-weight: 200px;
    line-height: 100px;
}

.product .chroma .navi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap:10px;
    transform: translateY(20px);
}


.product .chroma .navi nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: smaller;
    gap:10px;
}
.product .chroma .navi nav .low{
    opacity: 0.5;
}
.product .chroma .navi hr{
    width:220px;
    opacity: 0.3;
}
.chroma-details{
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    gap:100px;
}
.chroma-details .chroma-price{
    display: flex;
    flex-direction: column;
    align-items:self-start;
    justify-content:space-evenly;
    gap:30px;
}
.chroma-details .chroma-price .pricing  p:first-of-type {
    font-size: 30px;
}

.chroma-details .chroma-price .pricing  p:nth-of-type(2){
    font-size: 14px;
}

.chroma-details .chroma-price .ball span:first-of-type{
    padding: 0px 3px;
    color: black;
    border-radius: 15px;
    background-color: black;
    font-size:8px;
}

.chroma-details .chroma-price .ball span:nth-of-type(2){
    padding: 0px 3px;
    color: rgb(170, 248, 80);
    border-radius: 15px;
    background-color: rgb(170, 248, 80);
    font-size:8px;
}
.chroma-details .chroma-price .ball span:nth-of-type(3){
    padding: 0px 3px;
    color: white;
    border-radius: 15px;
    background-color: white;
    font-size:8px;
}

.chroma-details .chroma-price .ball span:nth-of-type(4){
    padding: 0px 3px;
    color: blue;
    border-radius: 15px;
    background-color: blue;
    font-size:8px;
}

.chroma-details .chroma-price button{
    padding: 5px 50px;
    height:35px;
    border-radius: 10px;
    background-color: rgb(170, 248, 80);
    border: rgb(162, 128, 194) ;
    filter: drop-shadow(rgb(162, 128, 194),0px,0px,15px);
    font-weight: 600;
}
/* .chroma-details .chroma-price button{
    width: 170px;
    padding: 0px 10px;
    height:35px;
    border-radius: 10px;
    background-color: rgb(162, 128, 194);
    border: rgb(162, 128, 194) ;
    filter: drop-shadow(rgb(162, 128, 194),0px,0px,15px);
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.chroma-details .image{
    background-color: white;
    border-radius: 500px;
    width:250px;
    height:250px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-60px);
}

.chroma-details .image img{
    width:200px;
    height: 200px;
    
    
}

.chroma-details .overview{
    
    transform: translateX(-70px);
}



/* footer  */

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white ;
    padding: 15px 20px;
    border-top: 2px solid rgb(54, 56, 57);
    margin-top: 80px;
}

.footer div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:20px;
}